.preview-container{
    height: 600px;
    width: 750px;
    margin-top: 50px;
    background-color: white;
}
.preview-post-image{
    height: 350px;
    width: 100%;
}
.preview-content{
    padding: 30px;
}
.preview-content *{
    margin-top: 15px ;
}

