.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #474367;
    height: 175px;
    width: 100%;
    /* position: sticky; /*allows navbar to stay on the screen as you scroll */
    /*top: 0; */

}
.nav-left,
.nav-right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo{
    height: 150px;
    width: 225px;
    margin-left: 20px;
}
.nav-center {
    flex: 6;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
  }
  
  .nav-list-item{
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
  }
.nav-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }
  .nav-search-icon {
    font-size: 18px;
    color: white;
    cursor: pointer;
  }
