.email-input-box{
    padding: "10px";
            font-Size: 16px;
            border: 2px solid #ddd;
            border-Radius: 5px;
            width: 250px;
}

.subscribe-button-box{
    margin: 10px;
            padding: 10px;
            background-Color: #4CAF50;
            border: none;
            color: white;
            font-Size: 16px;
            borde-Radius: 5px;
            cursor: pointer;
}