.footer-container{
    background-color: #64577D;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.footer-text{
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 40px;
}

.email-input-box{
    padding: 8px;
    font-Size: 16px;
    border: 2px solid #ddd;
    border-Radius: 5px;
    width: 300px;
}

.subscribe-button-box{
    margin: 10px;
    padding: 10px;
    background-Color: #474367;
    border: none;
    color: white;
    font-Size: 16px;
    border-Radius: 5px;
    cursor: pointer;
}